/*Clare F. Lee Web Portfolio V5
Filename: style.css
Author: Clare Frances Lee
Last Modified Date: 10/22/2018


GOOGLE FONTS
font-family: 'Merriweather', serif;
font-family: 'Quicksand', sans-serif;
font-family: 'Lato', sans-serif;
font-family: 'Raleway', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Nixie One', cursive;
font-family: 'Montserrat', sans-serif;
font-family: 'Quattrocento Sans', sans-serif;


Style Sheet for Clare Lee's Portfolio

COLORS:

Orange main: FF7043, RGBA(255, 112, 67)
Soft Brown: 7F5447, RGBA(127, 84, 71)
Baby Pink: FFA98F RGBA(255, 169, 143)
Joe Coffee Red: EE533E RGBA(238, 83, 62)
JoeCoffee DarkRed: C2240E
KEXP Yellow: FFA10C RGBA(255, 161, 12)
LongP Purple: A23666 RGBA(162, 54, 102)


*/
body, html {
    height: 100%;
    font-family: 'Open Sans', sans-serif;
}

.topPadding{
    padding-top: 3%;
}

/* navigation bar styling*/
.navbar{
    font-family: "Quicksand", sans-serif;
    box-shadow: none;
    background-color: white;
    padding-bottom: 1em;
}

.nav-item a{
    opacity: 0.5 !important;
    
}

.nav-item a:hover{
    opacity: 1;
    
}

.navbar-nav > li{
  padding-left:2em;
  padding-right:2em;
}

/*footer nav styling*/
.footerNav{
    margin-top: 3%;
    font-family: "Quicksand", sans-serif;
    padding-bottom:5%;

}

.activeFooterNav{
    text-decoration: underline;
    text-decoration-color: #ff7043;
}

.footerNav a{
    color: #767676;
    padding-left: 3%;
    padding-right: 3%;
    
}


/*scroll to top button*/

#myBtn{
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    left: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
}



/* Index.html elements styling =======================*/


.parallax, .parallax2, .parallax3, .parallax4, .parallax5, .parallax6, .parallax7, .parallax8, .parallax9, .parallax10, .parallax11, .parallax12, .parallax13, .parallax14, .parallax15, .parallax16, .parallax17, .parallax18 { 
    /* The image used */
    background-image: url("Media/Index_Assets/BG1-1.svg");

    /* Full height */
    height: 100vph;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.parallax2{
    background-image: url(Media/JoeCoffee/GroupPhoto.png);
   
}

.parallax3{
    background-image: url(Media/newBG/joe.png);
    /* background-image: url(Media/JoeCoffee/Background.svg)*/
}

.parallax4{
    background-image: url(Media/JoeCoffee/joeLogoBG.png);
}

.parallax5{
    background-image: url(Media/JoeCoffee/UserResearch/John2.png);
}

.parallax6{
    background-image: url(Media/JoeCoffee/UserResearch/KaylaUsability.png);
}

.parallax7{
    background-image: url(Media/JoeCoffee/UserResearch/Starbucks.svg);
}

.parallax8{
    background-image: url(Media/newBG/kexp.png);
}

.parallax9{
    background-image: url(Media/KEXP/KexpBG4.png);
}

.parallax10{
    background-image: url(Media/KEXP/KexpBG5.png);
}

.parallax11{
    background-image: url(Media/newBG/longP.png);
}

.parallax12{
    background-image: url(Media/KEXP/KexpBG3.png);
}

.parallax13{
    background-image: url(Media/longP/bg3.png)
}

.parallax14{
    background-image: url(Media/longP/bg4.png);
}

.parallax15{
    background-image: url(Media/longP/bg5.png);
}

.parallax16{
    background-image: url(Media/longP/bg6.png);
}

.parallax17{
    background-image: url(Media/longP/bg7.png);
}

.parallax18{
    background-image: url(Media/Index_Assets/BG2-1.svg);
}



.main{
    margin: 0 auto;
    padding: 5%;
}

.indexImage{
    padding-left: 10%;
    padding-top: 5%;
}


h1 {
    font-family: 'Quicksand', sans-serif;
}

h1{
    color:#FF7043;
}

h2, h3, h4{
    font-family: 'Raleway', sans-serif;
    color: #7F5447;
    
}

.emph{
    font-weight: 900;
    color: #5A3A31;
}

.indexD{
    margin-top: 2%;
}

h4{
    font-weight: 900;
}

.overlayText{
    font-family: "Raleway", sans-serif;
    font-size: 200%;
    padding-bottom: 5%;
    margin: 0 auto;
    text-align: center;
    color: #7F5447;  
}

/* Case Study Titles*/

.joeCoffeeText, .KEXPText, .longPText, h3, h4{
   /* text-align: right;*/
}

.joeCoffeeText{
    color: #EE533E;
}

.KEXPText{
    color: #FFA10C;
}

.longPText{
    color: #A23666;
}


/*custom cursor css*/
.peekaboo{
    cursor: url(Media/Cursor/Avocado.svg), pointer;
   
}


.coffeeCursor{
    cursor: url(Media/Cursor/Coffee2.svg), pointer;
}

.radioCursor{
    cursor: url(Media/Cursor/Kexp2.svg), pointer;
}

.takeOutCursor{
    cursor: url(Media/Cursor/LongP2.svg), pointer;
}

.hire{
    cursor: url(Media/Cursor/hire.svg), pointer;
}

.hire2{
    cursor: url(Media/Cursor/hire2.svg), pointer;
}

#top, #joe, #kexp, #longP{
    padding-bottom: 5%;
    margin-bottom: 10%;
}

.caseStudyLink{
    font-family: "Quicksand", sans-serif;
    color: #767676;
    margin-top: 3%;
}

.caseStudyLink:hover{
    color: #FF7043;
}

.caseTop{
    margin-top: 20%;
    margin-left: 3%
}


/* End of Index.html elements styling =======================*/


/* Casestudy Styling ===================*/

.active{
    border-bottom: 4px solid black;
}

.joeNav{ 
    background-color: rgba(255,255,255, 0);
    transition: top 0.3s;
}

.joeNav .nav-item a:{
    color: #7F5447;
}

.quickS{
    font-family: 'Quicksand', sans-serif;
}

.sectionT, .sectionT2, .sectionT3 {
    font-family: 'Raleway', sans-serif;
    color: #C2240E;
    padding-bottom: 3%;
}


.subT, .subT2{
    font-family: 'Open Sans', sans-serif;
    text-align: left;
    color: black;
}


.row3{
    margin-bottom: 3%;
}


.highlight{
    font-weight:bold;
    color: #C2240E;
}

.annotation{
    padding: 3%;
    margin-bottom: 3%;
}

.iconA {
    list-style-image: url('Media/pointers/pointerA.png');
    list-style-position: inside;
}

.iconB {
    list-style-image: url('Media/pointers/pointerB.png');
    list-style-position: inside;
}

.iconC {
    list-style-image: url('Media/pointers/pointerC.png');
    list-style-position: inside;
}

.iconD {
    list-style-image: url('Media/pointers/pointerD.png');
    list-style-position: inside;
}


.icon2A {
    list-style-image: url('Media/pointers/pointer2A.png');
    list-style-position: inside;
}


.icon2B {
    list-style-image: url('Media/pointers/pointer2B.png');
    list-style-position: inside;
}


.icon2C {
    list-style-image: url('Media/pointers/pointer2C.png');
    list-style-position: inside;
}

.icon2D {
    list-style-image: url('Media/pointers/pointer2D.png');
    list-style-position: inside;
}

/*Joe Coffee Case Styling*/

/*.caseTop h1, .caseTop h3, .caseTop h4{
    text-align: left;
}*/

.joeLink{
    color: #EE533E;
    font-weight: bold;
}

.joeCoffeeText2{
    color: #C2240E;
    
}

#myBtn2{
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
}

.blockquote-footer{
    color: black;
    font-weight: 100%;
}

.onTopImg, .blockquote {
    background-color: rgba(255,255,255, 0.7);
    padding: 3%;
}

.row2{
    margin-top: 5%;
}

.important, .important2, .important3{
    font-weight: bold;
    color: #901100;
}


/* KEXP styling */
#KEXPLink{
    color:#FFA10C;
}

.sectionT2, .important2{
    color:#FF7043
}


.kexpFS{
    background-color: RGBA(255, 161, 12, 0.4);
}

.paperBG{
    background-image: url(Media/KEXP/KexpBG5.png);
    padding: 5%;
}


/*LongP styling */

.sectionT3, #longPLink{
    color: #A23666;
    
}

.important3{
    color: purple;
}

.personaN3, .personaQuote{
    color: #A23666;
    margin-top: 2%;
}

.personaQuote{
    margin-bottom: 3%;
    font-weight: 800;
}

.noStyleList{
    list-style:none;
    margin: 0;
    padding: 0;
}

.noStyleList li{
    margin-top: 1%;
}


/* About Me Page */

.clareAbout, .clareName2, .clareThanks{
    color: black;
}

.workLi{
    padding: 2%;
    margin-bottom: 5%;
}

.resumeB2, .gitB2, .linkedInB2{
    font-family: 'Raleway', sans-serif;
    margin: 5%;
    border-radius: 5px;
    text-align: center;
    padding: 5%;
}


.resumeB2{
    color: dimgrey;
    border-color:dimgrey;
}


.gitB2{
    border-color:#6e5494;
    color: #6e5494;
}


.linkedInB2{
    border-color:#0077B5;
    color: #0077B5;
    
}

.googlePlay{
    border-color:#3cba54;
    color: #3cba54;
}

.itunes{
    border-color:#767676;
    color: #767676;
}

.work{
    color:#4A4A4A;
}


#foosball{
    margin-bottom: 15%;
}

.row3{
    margin-top: 10%;
}

/* mobile styling */
@media screen and (max-width: 768px){
    .nav-item a{
        text-align: right !important;
    }
    
    h1{
        font-size: 300% !important;
    }
    
    h1, .joeCoffeeText, .KEXPText, .longPText, h3, h4, h2, .overlayText {
        text-align: center;
        font-family: 'Raleway', sans-serif;
        
    }
    
    .overlayText{
        font-size:150%;
    }
    
    h4, .clareName{
        padding-top: 3%;
        
    }
    
    .clareName2{
        margin-top: 10%;
        font-size: 200% !important;
    }
    
    .parallax{
        background-image: none;
    }
    
    #myBtn2, #myBtn, .footerNav, .mobileHide {
        position: absolute !important;
        top: -9999px !important;
        left: -9999px !important;
    }
    
    
    .sectionT, .sectionT2, .sectionT3{
        font-size: 200% !important;
        font-family: 'Raleway', sans-serif;
    }
    
    .lead{
        font-size: 100%;
        margin-top: 5%;
        font-weight: 800;
    }
    
    .joeNav{ 
        background-color: rgba(255,255,255, 1);
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
    
    .col-md-5{
        margin-top: 5%;
    }
    
    h5{
        font-size:120%;
    }
    
    .work{
        font-size:170% !important;
        padding-top: 5%;
    }
    
    .subT, .subT2, {
        font-size: 120%;
        text-align: left !important;
        
    }

    .proffImg{
        margin-top: 20%;
        padding: 0 !important;
        margin-left: 0 !important;
    }
    
    .parallax18{
        background-image: none;
    }
    
    .workLinks{
        text-align: center;
    }
    
    .workLi{
        padding: 0;
        font-size: 120%;
    }
    
    
    /*.parallax, .parallax3, .parallax8, .parallax11{
        background-image: none;
        background-attachment: scroll;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    
    } */
}